.flyin {
    position: relative;
    top: 1000px;
    transition: all 1s ease;
    height: 0px;
    visibility: hidden;
}

.flyin_active {
    top: 0px;
    height: 100px;
}

.flyin_visible {
    visibility: visible;
}